.screenAbout {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about {
    max-width: 940px;
    gap: 3rem;
}

.about h1 {
    margin-top: 3.25rem;
    padding: 1.5rem;
    font-size: 3.25rem;
    font-weight: 400;
}

.about b {
    color: #56D0A4;
    font-weight: 500;
}

.about p {
    font-size: 1.45rem;
    padding: 1.5rem;
    line-height: 2.5rem;
    word-spacing: 5px;
    text-align: justify;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board h3 {
    font-size: 2.5rem;
    font-weight: 400;
    word-spacing: 10px;
}

.board p {
    text-align: center;
    font-size: 1.5rem;
}

.boardItems {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #56D0A4;
    scroll-behavior: i;
}

.boardData {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 10rem;
}

.boardData p {
    font-size: 0.7rem;
    line-height: 1rem;
    margin: 0;
    text-align: center;
}

.boardData img {
    height: 60px;
}