.header {
    padding: 5px;
    height: 2rem;
}

.navegator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    text-align: center;
}

.logo{
    width: 100px;
}

.navItems .li {
    color: #454750;
    text-decoration: none;
    list-style: none;
    margin-left: .7rem;
    font-size: 1rem;
    font-weight: 500;
}

.navItems .li:hover {
    cursor: pointer;
    color: #67E9B5;
    transition: all .3s;
}

.loginArea {
    display: flex;
}

.loginArea p {
    color: #67E9B5;
}

.loginArea button {
    padding: .5rem;
    margin-left: 15px;
    color: #67E9B5;
    width: 4rem;
    cursor: pointer;

    border: 1px solid #67E9B5;
    border-radius: 25px 25px 25px 25px;
}

.loginArea button:hover {
    background-color: #67E9B5;
    color: aliceblue;
}

@media (max-width: 740px) {
    .navItems {
        display: none;   
    }

    .loginArea button {
        display: none;
    }
}
