.header {
    padding: 5px;
    height: 2rem;
}

.navegator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    text-align: center;
}

.logo{
    width: 100px;
}

.navItems .li {
    color: #454750;
    text-decoration: none;
    list-style: none;
    margin-left: .5rem;
}

.navItems .li:hover {
    cursor: pointer;
    color: #67E9B5;
    transition: all .3s;
}

@media (max-width: 740px) {
    .navItems {
        display: none;   
    }
}
