body {
    margin: 0;
    padding: 0;
    overflow: hidden auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -2rem);
    width: 100vw;
}

.content {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.content h2{
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}


.content button {
    color: #F5F5F5;
    background-color: #56D0A4;
    width: 10rem;
    padding: 1rem;
    border-radius: 25px;
    border: none;
}

.content button:hover {
    cursor: pointer;
    background-color: #67E9B5;
    transition: all .3s;
}

.wrapperImg {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boardItems {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #56D0A4;
    scroll-behavior: i;
}

.boardData {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 10rem;
}

.boardData p {
    font-size: 0.7rem;
    margin: 0;
}

.boardData img {
    height: 60px;
}

@media (max-width: 740px) {
    .container {
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    .content h2 {
        font-weight: 1rem;
    }

    .boardHeader {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .boardHeader h2 {
        margin-bottom: 0.5rem;
    }

    .boardItems {
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2rem;
        color: #56D0A4;
        scroll-behavior: i;
    }
    
    .wrapperImg {
        display: none;
    }
}